	a:link, a:visited {
			color: black;
			text-decoration: none;
			background-color: fuchsia;
			broder-style: solid;
			border-radius: 5px;
			border-size: 10px ;
		}
	a:active{
			color: white;
			text-decoration: none;
			background-color: red;
			border-style: dashed;
            padding: 10px;
            background-orgin: content-box; 
            background-clip: content-box; 
            border-radius: 5px;
		}
	a:hover	{
			color: aqua;
			text-decoration: none;
			background-color: green;
			border-style: outset;
            padding: 10px;
            background-orgin: content-box; 
            background-clip: content-box; 
            border-radius: 5px;
		}
